*{
    box-sizing: border-box;
}

body{                                                                                                                       /* Sets the background color. Since there is a background image, the color is behind the image. */
    background-color: cornsilk;
    margin: 0px;
    padding: 0px;
    display: block;
    
}

ul {                                                                                                                        /* Bullet points are hidden for the sub-headings */
    list-style: none;
}

a {
    text-decoration: none;
    
}

section {                                                                                                                   /* Adds the cover page and customizes how it should look */
    width: 100%;
    height: 480px;
    background-image: url("../images/img3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {                                                                                                                        /* adds a space between sub-headings */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: gray;
    box-shadow: 2px 2px 10px;
    padding: 0px;
}

nav ul {                                                                                                                    /* Sub-headings are displayed through the flex command */
    display: flex;
}

nav ul li a {                                                                                                               /* Customizes the sub-headings */
    margin: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 18px;
    font-weight: 300px;
}

.developer {                                                                                                                /* Customizes the <developer class> */
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 22px;
    font-weight: bold;
    float: left;
    padding: 20px;
}

.active {                                                                                                                   /* Home tag which would the first tag to be active */
    font-weight: bold;
    color:tomato;
}

.content p:nth-child(1){                                                                                                    /* First <p> tag */
    color: white;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    margin: 0px;
    padding: 20px;
}

.content p:nth-child(2){                                                                                                    /* Second <p> tag */
    color: white;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 20px;
    margin: 0px;
    
}

.content p:nth-child(3){                                                                                                    /* Third <p> tag */
    color: white;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    padding: 20px;
    margin: 0px;
}

.content p {                                                                                                                /* Customize the positioning of the <p> tag content */
    line-height: 0px;
    margin: 25px 0px 25px;
}

.button {                                                                                                                   /* Customizes the <button> class */
    border: none;
    font-weight: bold;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 1px;
    cursor: pointer;
    background-color: gray; 
    position: relative;                                                                                                     /* relative positioning after content absolute positioning. */
    left: 2%;
    top: 42%;
    transform: translate(-17%, 42%);
}

.button:active{
    transform: (1.1);
}


.button:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

.content {
    position: relative;
    left: 23%;
    top: 20%;
    transform: translate(-13%, 42%);
}

.profile {
    bottom: 665px;
    left: 75%;
    overflow:hidden;
    height: 560px;
    position: absolute;
    transform: translateX(-75%);

}

/* Main Body */
.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid rgb(238, 238, 241);
    font-size: 4vw;
    line-height: 1.1;
  }
  
  .page-section > div {
    flex: 0 0 77%;
  }
  
  .page-section p {
    margin-bottom: 20px;
  }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }
  
  .flex-item {
    border: 5px solid lightblue;
    background-color: red;
    color: black;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items:center;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 120%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }
  
  /* feature first portfolio item */
  .flex-item:first-child {
      min-height: 400px;
      flex-basis: 100%;
  }
  
  .flex-item:hover {
    background-color: rgba(100, 190, 88, 0.3);
  }
  
  .flex-item div {
    background-color: lightblue;
    padding: 8px 10px;
  }
  
  .flex-item h2 {
    font-size: 1.6rem;
    background-color: cornsilk;
  }